  
p{


    /* /* color: brown;
    font-weight: bolder;
    font-size: 55px; */
    text-decoration:line-through;
    font-style: italic;
    border-width: 3px ;
    border-style: dashed;
    border-color: brown;
     padding: 30px;
    margin-left: 35px;
    margin: 20px; */
    border-radius: 15px;
}


h1{


    color: black;
    font-weight: bolder;
    font-size: 35px;
    text-decoration: overline;
    font-style: italic;+
    font-family: timeline-scope: ;;
border: 15px solid blue;
border-radius: 30px
  solid green;
  bort




   
}